*~
*DS_Store
__pycache__
*.egg-info
dist/
dataset/
logs/
serialized_dataset/
exporter.log
installation_DOE_supercomputers/HydraGNN-Installation-Frontier*/
.venv/
.psi4-env/
*.dat

HydraGNN-Installation-Perlmutter/
