rdkit==2026.3.2 # library for cheminformatics
scikit-image # marching cubes for electron density isosurface visualization
openqdc # OPTIONAL: library for OpenQDC database https://docs.openqdc.io/stable/

# ====================================================================================================
psi4 # only works with conda
# ====================================================================================================
