rdkit==2026.3.2 # library for cheminformatics
openqdc # OPTIONAL: library for OpenQDC database https://docs.openqdc.io/stable/

# ====================================================================================================
psi4 # only works with conda
# ====================================================================================================
